@import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
* {
  font-family: "Nunito", sans-serif;
}

:root {
  --main-bg: #7176FF;
  --second-bg: #71BEFF;
  --hue-color: 230;
  --main-bg: #5350ff;
  --second-bg: #43a1ff;
  --thrid-bg: #f2f8ff;
  --fourth-bg: #5daeff;
  --white: #ffffff;
  --black: rgb(46, 46, 46);
  --gray-300: rgb(224, 224, 224);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
  --scroll-thumb-color-hover: hsl(var(--hue-color), 21%, 78%);
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-thumb-color-hover);
}

body {
  --keyboard-zindex: 3000;
}

a {
  text-decoration: none;
}

.bg-main {
  background-color: var(--main-bg);
}

.bg-second {
  background-color: var(--second-bg);
}

.bg-second:focus {
  background-color: var(--second-bg);
}

.bg-second-hover:hover {
  background-color: var(--second-bg) !important;
  color: var(--white) !important;
}

.bg-white {
  background-color: var(--white);
}

.bg-gradient {
  background: linear-gradient(to right, var(--main-bg), var(--second-bg)) !important;
}

.bg-thrid {
  background-color: var(--thrid-bg);
}

.bg-fourth {
  background-color: var(--fourth-bg);
}

.main-color {
  color: var(--main-bg);
}

.second-color {
  color: var(--second-bg);
}

.gray-300 {
  color: var(--gray-300);
}

.white-color {
  color: var(--white);
}

.white-hover:hover {
  color: var(--white) !important;
  border: 1px solid var(--white) !important;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.fs-50 {
  font-size: 50px;
}

.fs-55 {
  font-size: 55px;
}

.fs-6 {
  font-size: 14px;
}

.fs-7 {
  font-size: 12px;
}

.border-white {
  border-color: var(--white);
}

.border-main {
  border-color: var(--main-bg);
}

.border-second {
  border-color: var(--secon-bg);
}

.border-second-hover:hover {
  border: 1px solid var(--second-bg);
  color: var(--second-bg);
}

.text-hover:hover {
  color: var(--second-bg) !important;
}

.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(142, 142, 169, 0.3137254902);
}

.form-control:focus + .form-control,
.form-control:focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(142, 142, 169, 0.3137254902);
  border-color: #bbbbbb;
}

.form-select:focus {
  border-color: #bbbbbb;
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(142, 142, 169, 0.3137254902);
}

.form-check-input:focus {
  border-color: #bbbbbb;
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(142, 142, 169, 0.3137254902);
}

.z-2 {
  position: relative;
  z-index: 2;
}

.pointer {
  cursor: pointer;
}

.navbar {
  background: linear-gradient(320deg, var(--second-bg), var(--main-bg));
}
.navbar .list-item .nav-item {
  display: inline-block;
  text-decoration: none;
  color: var(--white);
  position: relative;
  margin: 0 10px;
}
.navbar .list-item .nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--white);
  transform: scalex(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.navbar .list-item .nav-item:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.navbar.scrolled {
  /* From https://css.glass */
  background: linear-gradient(320deg, rgba(67, 161, 255, 0.5960784314), rgba(83, 80, 255, 0.8901960784));
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.first-section {
  margin-top: 80px;
}

#section-home {
  min-height: 100vh;
  background: var(--thrid-bg);
}
#section-home .home-wrap {
  height: 100vh;
}
#section-home .home-wrap .btn:hover {
  transform: scale(1.04);
  transition: all ease 200ms;
}

.scrollup {
  position: fixed;
  right: 2rem;
  bottom: -20%;
  background-color: var(--main-bg);
  opacity: 0.8;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  z-index: 9;
  transition: 0.4s;
  padding: 5px 3px;
}

.scroll__icon {
  font-size: 1.5rem;
  color: var(--white);
}

.show-scroll {
  bottom: 4rem;
}

#auth {
  background: var(--fourth-bg);
}

.auth-wrapper .left-login {
  min-height: 100vh;
}
.auth-wrapper .right-login {
  min-height: 100vh;
}
.auth-wrapper .right-login .box-login {
  width: 340px;
}
.auth-wrapper form.register {
  max-width: 500px;
}

.dtpicker-mobile .dtpicker-content {
  border-radius: 10px;
}

.dtpicker-header .dtpicker-value {
  color: var(--main-bg);
}

.dtpicker-header .dtpicker-close {
  color: var(--main-bg);
}

.dtpicker-buttonCont .dtpicker-button {
  border-radius: 10px;
  background: var(--second-bg);
}

.login-section {
  position: fixed;
  top: 0;
  min-height: 100vh;
  width: 50%;
  background: var(--white);
  transform: translateX(0);
}

.login-section.left {
  transform: translateX(100%);
  transition: 500ms;
}

.login-section.right {
  transform: translateX(0);
  transition: 500ms;
}

.custom-shape-divider-bottom-1657246973 {
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1657246973 svg {
  position: relative;
  display: block;
  width: calc(241% + 1.3px);
  height: 194px;
}

.custom-shape-divider-bottom-1657246973 .shape-fill {
  fill: #FFFFFF;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sponsor-swiper {
  height: 260px;
}

.register-as {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}
.register-as .left-bg {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.register-as .left-bg::before {
  content: "";
  background: var(--second-bg);
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 75%;
}
.register-as .icon {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 80px;
  color: var(--second-bg);
}
.register-as .btn-card {
  min-width: 200px;
}

.register {
  min-height: 82vh;
}
.register #match {
  display: none;
}
.register #match.match {
  color: #1cc438;
  font-weight: 800;
  font-size: 22px;
}
.register #match.no_match {
  color: #c41c1c;
  font-weight: 800;
  font-size: 22px;
}

#mediaFile {
  position: absolute;
  top: -1000px;
}

#profile {
  border-radius: 5px;
  width: 250px;
  height: 250px;
  position: absolute;
  z-index: 99;
  background: transparent;
  display: table;
  background-size: cover;
  background-position: center center;
}
#profile .dashes {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  border: 4px dashed #ddd;
  opacity: 1;
}
#profile label {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 10px;
  color: #32324D;
  opacity: 80%;
}
#profile label:hover {
  opacity: 1;
}
#profile.dragging {
  background-image: none !important;
}
#profile.dragging .dashes {
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  opacity: 1 !important;
}
#profile.dragging label {
  opacity: 0.5 !important;
}
#profile.hasImage .dashes {
  opacity: 0;
}
#profile.hasImage label {
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.dummy-img-upload {
  width: 250px;
  height: 250px;
}

.nav-page-exam {
  background: var(--white);
  box-shadow: 0px -3px 7px 3px rgba(161, 161, 161, 0.75);
  -webkit-box-shadow: 0px -3px 7px 3px rgba(161, 161, 161, 0.75);
  -moz-box-shadow: 0px -3px 7px 3px rgba(161, 161, 161, 0.75);
}
.nav-page-exam .nav-toggler i {
  color: #797979;
}
.nav-page-exam .navbar-toggler {
  border: none;
  font-size: 16px;
  line-height: normal;
}
.nav-page-exam .navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0;
}

.answer-tab {
  min-height: 75vh;
}
.answer-tab .answer-num {
  cursor: pointer;
}
.answer-tab .answered {
  background: var(--second-bg);
  color: var(--white);
}

.btn-chage-theme {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  background: var(--second-bg);
  padding: 3px 9px;
  border-radius: 50%;
  color: var(--white);
  cursor: pointer;
}

.list-style-upper-alpha {
  list-style: upper-alpha;
}

.answer-option {
  margin: 5px 0;
}
.answer-option [type=radio]:checked,
.answer-option [type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  visibility: hidden;
}
.answer-option .checkbox-tools:checked + label,
.answer-option .checkbox-tools:not(:checked) + label {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  width: auto;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  margin: 0 auto;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  color: var(--black);
  transition: all 100ms linear;
}
.answer-option .checkbox-tools:not(:checked) + label {
  background-color: var(--white);
}
.answer-option .checkbox-tools:checked + label {
  background-color: transparent;
}
.answer-option .checkbox-tools:checked + label::before,
.answer-option .checkbox-tools:not(:checked) + label::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: #e8f3ff;
  z-index: -1;
}

.timer-exam {
  position: fixed;
  top: 10px;
  z-index: 9999;
  left: 45%;
  padding: 10px 20px;
  cursor: -webkit-grab;
  cursor: grab;
  background: var(--white);
}

.welcome-page {
  min-height: 75vh;
}
.welcome-page .alert {
  padding: 10px 15px;
  background: var(--thrid-bg);
  border-left: 4px solid var(--second-bg);
  color: var(--second-bg);
}
.welcome-page .card-bio-exam {
  margin-top: 5rem;
}
.welcome-page .card-bio-exam .profile {
  position: absolute;
  top: -5rem;
  width: 145px;
  height: 145px;
  overflow: hidden;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 5px solid rgb(224, 224, 224);
}

body.dark-theme {
  background: #111827;
  color: var(--white);
}
body.dark-theme .nav-page-exam {
  background: #111827;
  box-shadow: 0px -3px 3px 3px rgba(221, 221, 221, 0.7490196078);
  -webkit-box-shadow: 0px -3px 3px 3px rgba(221, 221, 221, 0.7490196078);
  -moz-box-shadow: 0px -3px 3px 3px rgba(221, 221, 221, 0.7490196078);
}
body.dark-theme .nav-page-exam .nav-toggler i {
  color: #d8d8d8;
}
body.dark-theme .main-color {
  color: var(--white);
}
body.dark-theme .text-black-50 {
  color: rgb(224, 224, 224) !important;
}
body.dark-theme .answer-option .checkbox-tools:checked + label,
body.dark-theme .answer-option .checkbox-tools:not(:checked) + label {
  color: var(--white);
}
body.dark-theme .answer-option .checkbox-tools:not(:checked) + label {
  background-color: #111827;
}
body.dark-theme .answer-option .checkbox-tools:checked + label::before,
body.dark-theme .answer-option .checkbox-tools:not(:checked) + label::before {
  background-color: #09235f;
}
body.dark-theme .btn-previous-exam {
  color: var(--white);
}
body.dark-theme .timer-exam {
  background: #111827;
}
body.dark-theme .offcanvas .text-black-50 {
  color: rgb(112, 112, 112) !important;
}
body.dark-theme .offcanvas .answer-num {
  color: #000;
}
body.dark-theme .offcanvas .answer-num.answered {
  color: var(--white);
}

.dahsboard {
  padding: 0;
  margin: 0;
}
.dahsboard .sidebar {
  width: 260px;
  height: 100%;
  position: fixed;
  background-color: var(--second-bg);
}
.dahsboard .sidebar .avatar {
  width: 55px;
  height: 55px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dahsboard .sidebar .avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.dahsboard .sidebar a {
  color: rgb(226, 226, 226);
}
.dahsboard .sidebar a:hover {
  transform: translateX(5px);
  transition: all 200ms;
  color: var(--white);
}
.dahsboard .sidebar .active {
  font-weight: 700 !important;
  color: var(--white);
}
.dahsboard .content {
  margin-left: 260px;
}
.dahsboard .content .navbar {
  background: var(--white);
}

.dahsboard.teacher .sidebar {
  background: var(--white);
}
.dahsboard.teacher .sidebar a {
  color: #aaaaaa;
}
.dahsboard.teacher .sidebar a:hover {
  transform: translateX(5px);
  transition: all 200ms;
  color: var(--black);
}
.dahsboard.teacher .sidebar button {
  color: #aaaaaa;
}
.dahsboard.teacher .sidebar button:hover {
  transform: translateX(5px);
  transition: all 200ms;
  color: var(--black);
}
.dahsboard.teacher .sidebar .active {
  font-weight: 700 !important;
  color: var(--black);
}
.dahsboard.teacher .content {
  background: #FAFAFA;
  min-height: 100vh;
}
.dahsboard.teacher .content .navbar {
  background: #FAFAFA;
}
.dahsboard.teacher .content .btn-add-question {
  background: #f1f1f1;
}
.dahsboard.teacher .content .btn-add-question:hover {
  border: 1px solid #c9c9c9;
}
.dahsboard.teacher .content .list-question {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.dahsboard.teacher .content .list-question:hover {
  transform: scale(1.02);
  transition: all 200ms;
}
.dahsboard.teacher .content .list-question::before {
  content: url("/image/pencil.png");
  position: absolute;
  top: 0;
  right: -9rem;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--thrid-bg);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}
.dahsboard.teacher .content #question .list-option {
  list-style-type: upper-alpha;
}
.dahsboard.teacher .content #question .list-option .uil-image-plus {
  display: none;
}
.dahsboard.teacher .content #question .list-option .uil-multiply {
  display: none;
}
.dahsboard.teacher .content #question .list-option label {
  color: #aaaaaa;
}
.dahsboard.teacher .content #question .list-option input[type=radio] {
  visibility: hidden;
}
.dahsboard.teacher .content #question .list-option input[type=radio]:checked + label i::before {
  color: #08b33b;
  background: #d8ffe4;
  border-radius: 5px;
}
.dahsboard.teacher .content #question .option {
  border: none;
  outline: none;
  padding: 0 10px;
  width: 100%;
}
.dahsboard.teacher .content #question .btn-add-option {
  display: none;
}
.dahsboard.teacher .content #question textarea {
  width: 100%;
  border: none;
}
.dahsboard.teacher .content #question .focus li {
  padding: 10px 0;
}
.dahsboard.teacher .content #question .focus .option {
  border: 1px solid rgb(207, 207, 207);
  outline: none;
  padding: 4px 10px;
  border-radius: 5px;
}
.dahsboard.teacher .content #question .focus .btn-add-option {
  display: block;
}
.dahsboard.teacher .content #question .focus .uil-trash-alt {
  visibility: visible;
}
.dahsboard.teacher .content #question .focus .list-option {
  list-style-type: upper-alpha;
}
.dahsboard.teacher .content #question .focus .list-option .uil-image-plus {
  display: block;
}
.dahsboard.teacher .content #question .focus .list-option .uil-multiply {
  display: block;
}
.dahsboard.teacher .content .dot-create-question::before {
  content: "";
  width: 20px;
  height: 20px;
  background: var(--second-bg);
  position: absolute;
  right: -8px;
  border-radius: 50%;
}
.dahsboard.teacher .content .list-exam td {
  padding: 12px 8px;
}
.dahsboard.teacher .content .list-exam td a {
  width: 100%;
  color: var(--second-bg);
  font-weight: 600;
}
.dahsboard.teacher .content .active > .page-link, .dahsboard.teacher .content .page-link.active {
  z-index: 3;
  background-color: var(--second-bg);
  border-color: var(--second-bg);
}
.dahsboard.teacher .content .card-class {
  overflow: hidden;
  height: 150px;
  transition: all 200ms;
}
.dahsboard.teacher .content .card-class:hover {
  transform: scale(1.03);
  transition: all 200ms;
}
.dahsboard.teacher .content .card-class::before {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: var(--second-bg);
  font-family: unicons-line;
  content: "\eca5";
  background: rgba(113, 191, 255, 0.3294117647);
  padding: 50px 55px 20px 40px;
  border-radius: 100%;
  position: absolute;
  top: -40;
  right: -30;
}

@media screen and (max-width: 1024px) {
  .auth-wrapper form.register {
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .auth-wrapper form.register {
    max-width: 300px;
  }
}
@media screen and (max-width: 600px) {
  .fs-50 {
    font-size: 30px;
  }
  .form-login {
    flex-direction: column;
  }
  .auth-wrapper .right-login .box-login {
    margin-top: 6rem;
  }
  .auth-wrapper form.register {
    max-width: 300px;
  }
  .timer-exam {
    top: 15px;
    padding: 5px 10px;
  }
}
